body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-image: url(images/Synthwave-Neon-80s-Background-2K.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
